* {
    margin: 0 auto;
}
h1 {
	text-align: center;
	background-color: white;

}



break {
	background-color: white;
}
h2 {
	text-align: center;
	background-color: white;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body {
  background-image: url("https://images.freeimages.com/images/large-previews/2a7/polly-background-1631651.jpg");
  background-repeat: repeat;
  background-position: right top;
}
.row {
    width: 80%;
    height: 100%;
    background-color: #CACACA;
}
#mapid { 
	height: 500px; 
	width: 500px;
}
#type, #text, #location {
    font-size: 1.3rem;
}

#submit {
    font-size: 1.3rem;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
}

.table, table, th, td {
  border: 1px solid black;
}
 th{
	 font-size: 1.5rem;
 }
 #checks {
	 font-size: 1.5rem;
 }
 
 .legend span { 
	 border: 1px solid #ccc; 
	 float: left; 
	 width: 12px; 
	 height: 12px; 
 }
 
 .legend li {
	 font-size: 1.5rem;
 }
 
.C110, .C120,.C210, .C220, .C400, .C410, .C411, .C412, .C420, .C421, .C422, .C430, .C431, .C432, .C440, .C441, .C442, .C450, .C451, .C452, .C453, .C810, .C861, .C862, .C863, .C900, .C901, .C903, .C905, .C911, .C913, .C915, .C921, .C923, .C931, .C933, .C941, .C942, .C951, .C961, .C971, .C972, .C981, .C982
{ /*violent crimes, crimes against person*/
	background-color: rgb(245, 86, 86);
 }
 
.C300, .C311, .C312, .C313, .C312, .C314, .C321, .C322, .C323, .C324, .C331, .C333, .C334, .C341, .C342, .C343, .C344, .C351, .C352, .C353, .C354, .C361, .C363, .C364, .C371, .C372, .C373, .C374, .C1400, .C1401, .C1410, .C1415, .C1416, .C1420, .C1425, .C1426, .C1430, .C1435, .C1436, .C500, .C510, .C511, .C513, .C515, .C516, .C520, .C521, .C523, .C525, .C526, .C530, .C531, .C533, .C535, .C536, .C540, .C541, .C543, .C545, .C546, .C550, .C551, .C553, .C555, .C556, .C560, .C561, .C563, .C565, .C566, .C600, .C603, .C611, .C612, .C613, .C614, .C621, .C622, .C623, .C630, .C631, .C632, .C633, .C640, .C641, .C642, .C643, .C651, .C652, .C653, .C661, .C662, .C663, .C671, .C672, .C673, .C681, .C682, .C683, .C691, .C692, .C693, .C700, .C710, .C711, .C712, .C720, .C721, .C722
{ /*property crimes*/
	background-color: rgb(111, 132, 237);
 }
 
.C1800, .C1810, .C1811, .C1812, .C1813, .C1814, .C1815, .C1820, .C1822, .C1823, .C1824, .C1825, .C1830, .C1835, .C1840, .C1841, .C1842, .C1843, .C1845, .C1850, .C1855, .C1865, .C1870, .C1880, .C1885, .C2619, .C9954, .C9959
{ /*other crimes*/
	background-color: rgb(235, 235, 80);
 }