:root {
        --ic-brand-primary-darkened-5: #4D0C71;
--ic-brand-primary-darkened-10: #490B6B;
--ic-brand-primary-darkened-15: #450B65;
--ic-brand-primary-lightened-5: #59187C;
--ic-brand-primary-lightened-10: #622483;
--ic-brand-primary-lightened-15: #6B308A;
--ic-brand-button--primary-bgd-darkened-5: #4D0C71;
--ic-brand-button--primary-bgd-darkened-15: #450B65;
--ic-brand-button--secondary-bgd-darkened-5: #7A7878;
--ic-brand-button--secondary-bgd-darkened-15: #6D6C6C;
--ic-brand-font-color-dark-lightened-15: #424242;
--ic-brand-font-color-dark-lightened-30: #636363;
--ic-link-color-darkened-10: #1B6AB8;
--ic-link-color-lightened-10: #3382D1;
--ic-brand-primary: #510c76;
--ic-brand-font-color-dark: #212121;
--ic-link-color: #1d75cc;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #807e7e;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #510c76;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #510c76;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #510c76;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_73770000000000001/attachments/3099/UST.Shield.wht.2.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1931335429&Signature=xky97kH4X47Il6OMGl1EfLSSKXY%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_73770000000000001/attachments/269/nav_icon.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1920466503&Signature=k99rBMTe03vIuw43bZETg5%2FCIQ4%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_73770000000000001/attachments/269/nav_icon.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1920466503&Signature=k99rBMTe03vIuw43bZETg5%2FCIQ4%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #510c76;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_73770000000000001/attachments/3100/St%20Thomas%2016%20by%209.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1931335567&Signature=WnBwkHSj33KA%2Bf5%2B0FVqVQq27lk%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #510c76;
--ic-brand-Login-Content-password-text-color: #510c76;
--ic-brand-Login-footer-link-color: #510c76;
--ic-brand-Login-footer-link-color-hover: #510c76;
--ic-brand-Login-instructure-logo: #510c76;
      }